<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
    <select id="name" name="name">
        <option th:each="fox : ${fox}" th:text="${fox.name}"></option>
    </select>
    <input type="submit" value="delete fox">
</form>

<ul>
    <li><a href="/createFox">create a fox</a></li>
    <li><a href="/listOfFoxes">list of foxes</a></li>
    <li><a href="/nutritionStore">nutrition store</a></li>
    <li><a href="/removeFox">remove Fox</a></li>
</ul>

</body>
</html>