<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Basic Webshop</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>

    <header>My Shop</header><hr>

    <div>
        <button>ONLY AVAILABLE</button>
        <button>CHEAPEST FIRST</button>
        <button>CONTAINS NIKE</button>
        <button>AVERAGE STOCK</button>
        <button>MOST EXPENSIVE AVAILABLE</button>
    </div>
    <p>Search for:</p>

    <div>
        <form id="searchbar" action="/search" method="post">
            <input type="text" name="search" placeholder="...something like nike">
            <button id="search" type="submit">search</button>
        </form>
    </div>

    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity of stock</th>
            </tr>
            <tr th:each="item : ${items}">
                <td th:text="${item.getName()}"></td>
                <td th:text="${item.getDescription()}"></td>
                <td th:text="${item.getPrice()}"></td>
                <td th:text="${item.getQuantityOfStock()}"></td>
            </tr>
        </table>
    </div>

</body>
</html>