<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <li><a href="/create">Create a fox!</a></li>
    <li><a href="/createOwner">Create an owner!</a></li>
</ul>

<h2>List of foxes</h2>

<h1 th:text="'Last created fox is ' + ${createdFox.getName()} + '.'"></h1>
<!--h1 th:text="'This fox is drinking beer ' + ${foxByDrink.getName()} + '.'"></h1-->

<table>
    <tr th:each="fox : ${list}">
        <td th:text="${fox.getName()}"></td>
        <td th:text="${fox.getFood()}"></td>
        <td th:text="${fox.getDrink()}"></td>
        <td th:text="${fox.getHungry()}"></td>
        <td><a th:href="@{'/decrement/' + ${fox.getId()}}" th:text="'-'"></a></td>
        <td><a th:href="@{'/increment/' + ${fox.getId()}}" th:text="'+'"></a></td>
        <td><a th:href="@{'/edit/' + ${fox.getId()}}" th:text="'edit'"></a></td>
        <td><a th:href="@{'/' + ${fox.getId()}}" th:text="'delete'"></a></td>
    </tr>
</table>

</body>
</html>