<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <ul>
        <li><a href="/create">Create a fox!</a></li>
    </ul>

    <h2>List of foxes</h2>

    <a th:text="${count != null} ? ${count} : 'under two foxes'"
       th:style="${lotFoxes} ? 'color: green;' : 'color: black;'"></a>

    <h1 th:text="'Last created fox is ' + ${createdFox.getName()} + '.'"></h1>

    <table class="table table-hover table-dark">
        <thead>
        <td>Name</td>
        <td>Food</td>
        <td>Drink</td>
        <td>Hungry</td>
        <td>Decrement hungry</td>
        <td>Increment hungry</td>
        <td>Edit</td>
        <td>Delete</td>
        </thead>
        <tbody>
        <tr th:each="fox : ${list}" class="table-info">
            <td><a th:href="@{'/editdrink/' + ${fox.getId()}}" th:text="${fox.getName()} + ' '" name="name"></a>click for change the drink</td>
            <td th:text="${fox.getFood()}"></td>
            <td th:text="${fox.getDrink()}"></td>
            <td th:text="${fox.getHungry()}"></td>
            <td><a th:href="@{'/decrement/' + ${fox.getId()}}" th:text="'-'"></a></td>
            <td><a th:href="@{'/increment/' + ${fox.getId()}}" th:text="'+'"></a></td>
            <td><a th:href="@{'/edit/' + ${fox.getId()}}" th:text="'edit'"></a></td>
            <td><a th:href="@{'/' + ${fox.getId()}}" th:text="'delete'"></a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>