<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>

<table>
    <tr>
        <td>Index</td>
        <td>Name</td>
        <td>Balance</td>
        <td>Animal Type</td>
        <td>Is king?</td>
        <td>Good or bad guy</td>
    </tr>
    <tr th:each="bankAccount : ${bankAccounts}">
        <td th:text="${bankAccountStat.index + 1}"></td>
        <td th:text="${bankAccount.getName()}"></td>
        <td th:text="${bankAccount.getBalance()}"></td>
        <td th:text="${bankAccount.getAnimalType()}"></td>
        <td>
            <span style="color: powderblue;" th:if="${bankAccount.getAnimalType().equals('lion')}">Yes</span>
            <span th:unless="${bankAccount.getAnimalType().equals('lion')}">No</span>
        </td>
    </tr>
</table>

</body>
</html>